@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color:rgb(0, 0, 0);
}

body {
    background-color: rgb(31, 249, 227);
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    max-height: 100rem;
}

#main-page {
    background-color: rgba(245, 254, 253, 0.6);
    height: 42rem;
    width: 40rem;
    margin: auto;
    position: relative;
    margin-top: 5rem;
}

h2 {
    margin-top: 2rem;
}

#welcome-page {
    margin-top: 5rem;
    position: relative;
    height: 25rem;
    width: auto;
    margin: auto;
}

#rules {
    height: 5rem;
    width: auto;
    margin-top: 5rem;
    position: absolute;
}

.click-button, #start, #restart {
    border: solid;
    border-color: black;
    padding: 0.5rem;
    background-color: rgba(245, 254, 253, 0.6);
    margin: 1rem;
    width: 15rem;
    font-family: 'Yusei Magic', sans-serif;
    color: rgb(0, 0, 0) !important;
}

button {
    text-decoration: none;
}

.click-button {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    font-size: large;
}

#start {
    margin-top: 20rem;
    font-size: large;
}

#picture-container {
    width: 15rem;
    height: 15rem;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#stage-name{
    padding: 1rem;
    font-size: large;
}

#answer-container {
    margin-top: 1rem;
}

#score-container, #progress-container {
    display: inline-block;
    text-align: center;
}

#go-home {
    font-size: 150%;
    background-color: transparent;
    padding-top: 1rem;
}

#progress, #score {
    display: inline;
}

#game-status {
    padding: 1rem;
}

#progress-container {
    float: left;
}

#score-container {
    float: right;
}

.correct {
    background: rgb(129, 207, 12);
}

.incorrect {
    background: rgb(238, 26, 26);
}

#result {
    margin-top: 3rem;
}

#response {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#restart {
    margin-top: auto;
}

@media screen and (max-width: 490px){
 
    #main-page {
        width: auto;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        margin: 1rem;
    }

    h2 {
        font-size: medium;
        margin-top: 1rem;
    }

    #game-status {
        padding: 0;
    }
}