@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(31, 249, 227);
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    max-height: 100rem;
}

#main-page {
    background-color: rgba(245, 254, 253, 0.6);
    height: 47rem;
    width: 40rem;
    margin: auto;
    position: relative;
    margin-top: 10rem;
}

h2 {
    margin-top: 2rem;
}

#welcome-page {
    margin-top: 5rem;
    position: relative;
    height: 25rem;
    width: 25rem;
    margin: auto;
}

#rules {
    height: 5rem;
    width: auto;
    margin-top: 5rem;
    position: absolute;
}

.click-button, #start, #restart {
    border: solid;
    padding: 1rem;
    background-color: rgba(245, 254, 253, 0.6);
    margin: 1rem;
    width: 15rem;
    font-family: 'Yusei Magic', sans-serif;
}

.click-button {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

#start, #restart{
    margin-top: 20rem;
}


#picture-container {
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    margin-left: 10rem;
    overflow: hidden;
}

#score-container, #progress-container {
    display: inline-block;
    text-align: center;
}


#go-home {
    font-size: 200%;
}

#progress, #score {
    display: inline;
}

#progress-container {
    float: left;
}

#score-container {
    float: right;
}

.correct {
    background: greenyellow;
}

.incorrect {
    background: red;
}